@font-face {
  font-family: 'KyoboHandwriting2020A';
  src: url('https://cdn.jsdelivr.net/gh/Chamchi-Rockstar/my-fonts@main/fonts/KyoboHandwriting2020A.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eulyoo1945-regular';
  src: url('https://cdn.jsdelivr.net/gh/Chamchi-Rockstar/my-fonts@main/fonts/Eulyoo1945-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eulyoo1945-semibold';
  src: url('https://cdn.jsdelivr.net/gh/Chamchi-Rockstar/my-fonts@main/fonts/Eulyoo1945-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* ──────────────────────────────
   Yoon Childfund Korea ManSeh
────────────────────────────── */
@font-face {
  font-family: 'YoonChildfundkoreaManSeh';
  src: url('https://cdn.jsdelivr.net/gh/Chamchi-Rockstar/my-fonts@main/fonts/YoonChildfundkoreaManSeh.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'KyoboHandwriting2024SeoWooPark';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/KyoboHandwriting2024psw.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
